@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient{
  background: -webkit-linear-gradient(#f87171, #fca5a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGradient2{
  background: -webkit-linear-gradient(#0d9488, #2dd4bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bglight {
  background-color: #f0fdfa;
}

.bgmed {
  background-color: #2dd4bf;
}

.bggrad1 {
  background: linear-gradient(#b2dad9, #f0fdfa);
	height:8vh;
}

.bggrad2 {
  background: linear-gradient(#f0fdfa, #b2dad9);
}

.shadow {
  box-shadow: 3px 3px 1px 1px #fca5a5;
}
.shadow:hover{
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px #fca5a5
}