@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient{
  background: -webkit-linear-gradient(#ffddd2, #e29578);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}